@import "./fonts.css";
img{
    width: 349px;
    height: 349px;
}
.forma{
    margin: 10px;
}
form{
    background-image: url('static/img/backgroundform.jpg');
    background-repeat: no-repeat;
}
textarea{
    max-width: 300px;
    max-height: 250px;
}

.paragraph{
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.zag_h1{
    font-size: 64px;
    color:  #1F3F68;
}

.zag_h2{
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.zag_h3{
    font-size: 36px;
    text-align: center;
}

.zag_h4{
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.inputTexarea{
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.buttonStyle{
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.button_submit_Style{
    background: linear-gradient( #5A98D0 0%, #8A5AF9 100%);
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    padding: 12px 24px;
}

.tab_menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 50px;
    background: linear-gradient(#fff 0%, #d8eae9 15%, #4f8585 100%);
}

.tab_menu li {
    position: relative;
    margin-right: -15px;
}

.tab_menu li:nth-child(1) { z-index: 4; }
.tab_menu li:nth-child(2) { z-index: 3; }
.tab_menu li:nth-child(3) { z-index: 2; }
.tab_menu li:nth-child(4) { z-index: 1; }

.tab_menu a {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 40px 0 25px;
    color: #000;
    font-size: 18px;
    text-decoration: none;
    background: linear-gradient(#fff 0%, #cbe3e1 20%, #4a8282 100%);
    border-radius: 0 30px 30px 0 / 0 50px 50px 0;
    box-shadow: 4px 0 8px #0004;
    transition: background 0.2s;
}

.tab_menu a:hover {
    background: linear-gradient(#fff 0%, #dcf0ee 20%, #599797 100%);
}